.header {
  background-color: #404040;
}
.header .logo {
  width: 150px;
  height: 40px;
  background: #333 url(//account.weimob.com/img/logo.svg) no-repeat center center;
  border-radius: 6px;
  margin: 12px 28px 16px 0;
}
.layout-wrap {
  position: absolute;
  top: 64px;
  bottom: 0;
  width: 100%;
}
.layout-wrap .layout-l {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.layout-wrap .layout-r {
  position: absolute;
  top: 0;
  left: 200px;
  bottom: 0;
  right: 0;
}
